body{
    background-color: rgb(175, 191, 213);
}
.center{
 display:block;
 margin-left: auto;
 margin-right: auto;
}
div{
    height: 400px;
    width: 260px;
    margin-top: 80px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 12px;
}
img{
    padding-top: 15px;
    border-radius: 12px;
    
}
h3,h5{
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
   
}